<h3>Signal Form</h3>
<form (submit)="onSubmit($event)">
  <app-stateful-input
    [formField]="signupForm.firstName"
    placeholder="Enter Your Name"
    type="text"
  />
  <app-stateful-input [formField]="signupForm.lastName" placeholder="Your Last Name" type="text" />
  <app-stateful-input
    [formField]="signupForm.email"
    placeholder="Provide valid Email"
    type="email"
  />
  <button [disabled]="signupForm().submitting() || !signupForm().valid()" type="submit">
    Save
  </button>
</form>
