<div class="flex flex-col sm:flex-row sm:items-center w-full mt-5 mb-5 justify-between">
  <div class="flex items-center space-x-2">
    <app-search
      (value$)="onSearch($event)"
      [placeholder]="placeholder"
      class="flex-1 sm:flex-auto"
    ></app-search>
    <app-category-list (categorySelected)="onCategorySelected($event)" />
    <app-sort (sortedVale)="onOrdered($event)"></app-sort>
  </div>
  <button
    (click)="onAddProduct()"
    class="flex items-center px-4 py-2 bg-blue-400 text-white rounded-lg shadow hover:bg-blue-300 transition sm:mt-0 mt-2"
  >
    <app-plus-svg />
    Add Product
  </button>
</div>
