@let users = users$ | async;

<search (searchValue)="onSearch($event)"></search>
<div class="min-h-screen  py-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="mb-6">
      <h1 class="text-xl font-semibold text-gray-900">
        Users
      </h1>
    </div>
    <div class="bg-white rounded-xl shadow-md overflow-hidden">
      <div class="overflow-x-auto">
        <table class="min-w-full text-sm">
            <thead class="bg-gray-50 text-gray-600">
                <tr>
                  @for (col of columns; track col.key ) {
                    <th class="px-6 py-4 text-left font-semibold">{{col.key}}</th>
                  }
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
              @for (user of users?.data; track user.userId){
                <user-item [user]="user"></user-item>
              }
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
