<div class="max-w-6xl mx-auto px-4 md:px-6 py-8">
  <h1 class="text-2xl md:text-3xl font-semibold text-gray-800 mb-8">Cart</h1>
  @let view = vm();

  <div class="bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden">
    <div
      class="hidden md:grid grid-cols-12 gap-4 px-6 py-4 bg-gray-50 text-sm font-medium text-gray-600 border-b"
    >
      <div class="col-span-5">Title</div>
      <div class="col-span-2 text-center">Price</div>
      <div class="col-span-3 text-center">Quentity</div>
      <div class="col-span-2 text-right">Total</div>
    </div>
    @for (product of view.products; track product.id) {
      <app-cart-product-item
        [product]="product"
        (decreaseQuantity)="view.decrease(product.id)"
        (increaseQuantity)="view.increase(product.id)"
        (removeItem)="view.remove(product.id)"
      ></app-cart-product-item>
    }

    <app-cart-summary [total]="view.total" (clearList)="view.clearList()"></app-cart-summary>
  </div>
</div>
