<article class="space-y-6" aria-label="Product Information">
  <app-product-header [title]="product().title" />
  <p class="text-gray-600 leading-relaxed mb-6">{{ product().description }}</p>
  <app-product-rating [rating]="averageRating" />
  <app-product-price [price]="product().price"
    [discount]="product().discountPercentage"
    [originalPrice]="startPrice"
   />
  <app-product-stock />
  <app-product-shipping [shippingInfo]="product().shippingInformation"
    [warrantyInfo]="product().warrantyInformation"
   />
  <app-product-actions (addToCart)="addToCart.emit()" />
  <app-product-tags [tags]="product().tags" />
</article>
