<!-- Sort Button -->
<button
  (click)="toggleSort()"
  class="flex items-center px-3 py-1 bg-white border rounded shadow hover:bg-gray-50"
>
  <span class="mr-2">Sort by Title</span>
  @if (sortOrder() == SORTORDER.ASC) {
    <svg
      class="w-3 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 1v12m0 0 4-4m-4 4L1 9"
      />
    </svg>
  }
  @if (sortOrder() == SORTORDER.DESC) {
    <svg
      class="w-3 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 10 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 13V1m0 0L1 5m4-4 4 4"
      />
    </svg>
  }
</button>
